section a {
    text-decoration: underline;
}
h5 {
    font-size: larger;
    margin: 20px 0 10px;
    scroll-margin-top: 200px;
}

h5 img {
    margin-bottom: -5px;
}
h6 img {
    margin-bottom: -5px;
}

h6 {
    font-size: medium;
    margin: 30px 0 -10px;
}

ul{
    margin: 5px 0;
}

li {
    margin-top: 1em;
}
li img {
    margin-bottom: -5px;
    width: 1.5em;
    height: 1.5em;
}


.info, .danger{
    margin: 30px 0;
    padding: 20px 20px 5px;
    border-radius: 20px;
}

.info {
    background-color: lightblue;
}

.danger{
    background-color: rgb(254, 179, 179);
}

.info div, .danger div{
    display: flex;
    align-items: center;
}

.info strong{
    color: var(--dark-color);
}
.danger strong {
    color:rgb(93, 0, 0);
}
.danger p{
    color: darkred
}

.info p{
    color: var(--mid-color-dark)
}

.info img, .danger img{
    width: 1.5em;
    margin-right: 10px;
    opacity: 0.5;
}

hr{
    border: 2px dashed var(--mid-color);
    margin: 25px 0;
}