<center>
    <table style="height:400px;background-image:url(&quot;https://i.ibb.co/c0Dswfd/p1.png&quot;);"
        width="950" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="left">
                <div style="margin-top:45px;overflow-y:auto;height:230px;width:275px;margin-left:145px;">
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                </div>
            </td>
                
            <td>
                <div style="margin-top:45px;overflow-y:auto;height:230px;width:275px;float:right;margin-right:145px;">
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                    <p>xxx</p>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
</center>